### <font color =#000000>Import </font>

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

### <font color =#000000>Load train, test, songs, members, songs_extra Dataset </font>

In [2]:
data_path = 'input/'
train = pd.read_csv(data_path + 'train.csv', dtype={'msno' : 'category',
                                                'source_system_tab' : 'category',
                                                  'source_screen_name' : 'category',
                                                  'source_type' : 'category',
                                                  'target' : np.uint8,
                                                  'song_id' : 'category'})
test = pd.read_csv(data_path + 'test.csv', dtype={'msno' : 'category',
                                                'source_system_tab' : 'category',
                                                'source_screen_name' : 'category',
                                                'source_type' : 'category',
                                                'song_id' : 'category'})
songs = pd.read_csv(data_path + 'songs.csv',dtype={'genre_ids': 'category',
                                                  'language' : 'category',
                                                  'artist_name' : 'category',
                                                  'composer' : 'category',
                                                  'lyricist' : 'category',
                                                  'song_id' : 'category'})
members = pd.read_csv(data_path + 'members.csv',dtype={'city' : 'category',
                                                      'bd' : np.uint8,
                                                      'gender' : 'category',
                                                      'registered_via' : 'category'})
songs_extra = pd.read_csv(data_path + 'song_extra_info.csv')

In [3]:
len(train)

7377418

In [4]:
train[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [ ]:
train.dtypes

In [5]:
len(test)

2556790

In [ ]:
test[:5]

In [ ]:
test.dtypes

In [ ]:
len(songs)

In [ ]:
songs[:5]

In [ ]:
songs.dtypes

In [ ]:
len(members)

In [ ]:
members[:5]

In [ ]:
members.dtypes

In [ ]:
len(songs_extra)

In [ ]:
songs_extra[:5]

In [ ]:
songs_extra.dtypes

### <font color =#000000>Object to Category </font>

In [6]:
def obtocat(df):
    object_cols = list(df.select_dtypes(include=['object']).columns)
    for col in object_cols:
        df[col]=df[col].astype('category')

In [7]:
obtocat(train)
obtocat(test)
obtocat(songs)
obtocat(members)

In [8]:
assert train['msno'].dtype == 'category'
assert test['source_system_tab'].dtype == 'category'
assert songs['language'].dtype == 'category'
assert members['city'].dtype == 'category'

### <font color =#000000>Merge songs to train and test </font>

In [9]:
train = train.merge(songs, on='song_id', how='left')
test = test.merge(songs, on='song_id', how='left')

### <font color =#000000>Count the memberships days </font>

In [10]:
import datetime

members['membership_days'] = members['expiration_date'].subtract(members['registration_init_time'])

In [13]:
members[:5]

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date,membership_days
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920,60100
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622,19994
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712,10301
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907,1
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613,487

### <font color =#000000>Drop expiration_date, registration_init_time columns </font>

In [14]:
members.drop(['expiration_date'],axis = 1,inplace=True)
members.drop(['registration_init_time'],axis = 1,inplace=True)

In [15]:
members[:5]

,msno,city,bd,gender,registered_via,membership_days
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,60100
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,19994
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,10301
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,1
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,487

### <font color =#000000>Isrc to Year and then drop name and isrc columns </font>

In [16]:
def isrctoyear(isrc):
    if type(isrc) == str:
        if int(isrc[5:7]) > 17:
            return 1900 + int(isrc[5:7])
        else:
            return 2000 + int(isrc[5:7])
    else:
        return np.nan

In [17]:
songs_extra['song_year'] = songs_extra['isrc'].apply(isrctoyear)

In [18]:
songs_extra.drop(['isrc', 'name'], axis = 1, inplace = True)

In [19]:
songs_extra[:5]

                                        song_id  song_year
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=     2012.0
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=     2016.0
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=     2008.0
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=     2013.0
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=     2013.0

### <font color =#000000>Merge members to train and test </font>

In [20]:
train = train.merge(members, on='msno', how='left')
train.msno = train.msno.astype('category')
test = test.merge(members, on='msno', how='left')
test.msno = test.msno.astype('category')

In [21]:
train[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,membership_days
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,50903
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,60386
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396.0,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,NaN,52.0,13,24,female,9,60386
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512.0,1019,Soundway,Kwadwo Donkoh,NaN,-1.0,13,24,female,9,60386
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802.0,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,NaN,52.0,1,0,NaN,7,50903

### <font color =#000000>Merge songs_extra to train and test </font>

In [22]:
train = train.merge(songs_extra, on = 'song_id', how = 'left')
train.song_length.fillna(200000,inplace=True)
train.song_length = train.song_length.astype(np.uint32)
train.song_id = train.song_id.astype('category')

In [23]:
test = test.merge(songs_extra, on = 'song_id', how = 'left')
test.song_length.fillna(200000,inplace=True)
test.song_length = test.song_length.astype(np.uint32)
test.song_id = test.song_id.astype('category')

In [24]:
train.dtypes

msno                  category
song_id               category
source_system_tab     category
source_screen_name    category
source_type           category
target                   uint8
song_length             uint32
genre_ids             category
artist_name           category
composer              category
lyricist              category
language              category
city                  category
bd                       uint8
gender                category
registered_via        category
membership_days          int64
song_year              float64
dtype: object

In [25]:
test.dtypes

id                       int64
msno                  category
song_id               category
source_system_tab     category
source_screen_name    category
source_type           category
song_length             uint32
genre_ids             category
artist_name           category
composer              category
lyricist              category
language              category
city                  category
bd                       uint8
gender                category
registered_via        category
membership_days          int64
song_year              float64
dtype: object

### <font color =#000000>Add new columns(genre_id_count) </font>

In [26]:
def genreidcount(x):
    if x == 'no_genre_id':
        return 0
    else:
        return x.count('|') + 1

In [27]:
train['genre_ids'].cat.add_categories('no_genre_id',inplace = True)
test['genre_ids'].cat.add_categories('no_genre_id',inplace=True)

In [28]:
train['genre_ids'].fillna('no_genre_id',inplace=True)
test['genre_ids'].fillna('no_genre_id',inplace=True)

In [29]:
train['genre_id_count'] = train['genre_ids'].apply(genreidcount).astype(np.int8)
test['genre_id_count'] = test['genre_ids'].apply(genreidcount).astype(np.int8)

In [30]:
train[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,membership_days,song_year,genre_id_count
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,50903,2016.0,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,60386,1999.0,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,NaN,52.0,13,24,female,9,60386,2006.0,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512,1019,Soundway,Kwadwo Donkoh,NaN,-1.0,13,24,female,9,60386,2010.0,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,NaN,52.0,1,0,NaN,7,50903,2016.0,1

### <font color =#000000>Add new columns(lyricists_count) </font>

In [31]:
def lyricistcount(x):
    if x == 'no_lyricist':
        return 0
    else:
        return sum(map(x.count, ['|', '/', '\\', ';'])) + 1
    return sum(map(x.count, ['|', '/', '\\', ';']))

In [32]:
train['lyricist'].cat.add_categories('no_lyricist',inplace = True)
test['lyricist'].cat.add_categories('no_lyricist',inplace=True)

In [33]:
train['lyricist'].fillna('no_lyricist',inplace=True)
test['lyricist'].fillna('no_lyricist',inplace=True)

In [34]:
train['lyricists_count'] = train['lyricist'].apply(lyricistcount).astype(np.int8)
test['lyricists_count'] = test['lyricist'].apply(lyricistcount).astype(np.int8)

In [35]:
train[1000:1005]

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count
1000,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,IgMar/mVrJQ+ODFPytDf7jwQMmR09+slyZUdVylRFLc=,my library,Local playlist more,local-library,1,210364,465|458,林俊傑 (JJ Lin),JJ Lin,Lin Yi Feng,3.0,1,0,NaN,9,29494,2015.0,2,1
1001,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,vSN/XdTQtflzXi9e/JhSTr7zLppfLExJQM5zd53pt/o=,my library,Local playlist more,local-library,1,249986,no_genre_id,G.E.M.鄧紫棋,NaN,no_lyricist,3.0,1,0,NaN,9,29494,2010.0,0,0
1002,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,02gZ0fxCTb73+laNQIEtc9DZN29efUTQ5ppDQkxZ3c4=,my library,Local playlist more,local-library,0,207957,458,黃路梓茵 (LULU),A Da,no_lyricist,3.0,1,0,NaN,9,29494,2016.0,1,0
1003,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,TrA3A27qJFi7axOXvN+zypkjhACz7CBCL7qVzVvC4Qc=,my library,Local playlist more,local-library,1,167497,458,陳信喆,堯十三,馬頔,3.0,1,0,NaN,9,29494,2016.0,1,1
1004,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,opfHqJ0Oz4KsSqM5/TqBERkLI9DFnMD0Jywzh7XSE6Y=,my library,Local playlist more,local-library,1,266344,465,FS (Fuying & Sam),劉永輝,肆一,3.0,1,0,NaN,9,29494,NaN,1,1

### <font color =#000000>Add new columns(composer_count) </font>

In [36]:
def composercount(x):
    if x == 'no_composer':
        return 0
    else:
        return sum(map(x.count, ['|', '/', '\\', ';'])) + 1

In [37]:
train['composer'].cat.add_categories('no_composer',inplace = True)
test['composer'].cat.add_categories('no_composer',inplace=True)

In [38]:
train['composer'].fillna('no_composer',inplace=True)
test['composer'].fillna('no_composer',inplace=True)

In [39]:
train['composer_count'] = train['composer'].apply(composercount).astype(np.int8)
test['composer_count'] = test['composer'].apply(composercount).astype(np.int8)

In [40]:
train[1000:1005]

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,...,language,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count,composer_count
1000,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,IgMar/mVrJQ+ODFPytDf7jwQMmR09+slyZUdVylRFLc=,my library,Local playlist more,local-library,1,210364,465|458,林俊傑 (JJ Lin),JJ Lin,...,3.0,1,0,NaN,9,29494,2015.0,2,1,1
1001,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,vSN/XdTQtflzXi9e/JhSTr7zLppfLExJQM5zd53pt/o=,my library,Local playlist more,local-library,1,249986,no_genre_id,G.E.M.鄧紫棋,no_composer,...,3.0,1,0,NaN,9,29494,2010.0,0,0,0
1002,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,02gZ0fxCTb73+laNQIEtc9DZN29efUTQ5ppDQkxZ3c4=,my library,Local playlist more,local-library,0,207957,458,黃路梓茵 (LULU),A Da,...,3.0,1,0,NaN,9,29494,2016.0,1,0,1
1003,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,TrA3A27qJFi7axOXvN+zypkjhACz7CBCL7qVzVvC4Qc=,my library,Local playlist more,local-library,1,167497,458,陳信喆,堯十三,...,3.0,1,0,NaN,9,29494,2016.0,1,1,1
1004,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,opfHqJ0Oz4KsSqM5/TqBERkLI9DFnMD0Jywzh7XSE6Y=,my library,Local playlist more,local-library,1,266344,465,FS (Fuying & Sam),劉永輝,...,3.0,1,0,NaN,9,29494,NaN,1,1,1

### <font color =#000000>Add new columns(artist_count) </font>

In [41]:
def artistcount(x):
    if x == 'no_artist':
        return 0
    else:
        return x.count('and') + x.count(',') + x.count('feat') + x.count('&')

In [42]:
train['artist_name'].cat.add_categories('no_artist',inplace = True)
test['artist_name'].cat.add_categories('no_artist',inplace=True)

In [43]:
train['artist_name'].fillna('no_artist',inplace=True)
test['artist_name'].fillna('no_artist',inplace=True)

In [44]:
train['artist_count'] = train['artist_name'].apply(artistcount).astype(np.int8)
test['artist_count'] = test['artist_name'].apply(artistcount).astype(np.int8)

In [45]:
train[1000:1005]

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,...,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count,composer_count,artist_count
1000,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,IgMar/mVrJQ+ODFPytDf7jwQMmR09+slyZUdVylRFLc=,my library,Local playlist more,local-library,1,210364,465|458,林俊傑 (JJ Lin),JJ Lin,...,1,0,NaN,9,29494,2015.0,2,1,1,0
1001,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,vSN/XdTQtflzXi9e/JhSTr7zLppfLExJQM5zd53pt/o=,my library,Local playlist more,local-library,1,249986,no_genre_id,G.E.M.鄧紫棋,no_composer,...,1,0,NaN,9,29494,2010.0,0,0,0,0
1002,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,02gZ0fxCTb73+laNQIEtc9DZN29efUTQ5ppDQkxZ3c4=,my library,Local playlist more,local-library,0,207957,458,黃路梓茵 (LULU),A Da,...,1,0,NaN,9,29494,2016.0,1,0,1,0
1003,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,TrA3A27qJFi7axOXvN+zypkjhACz7CBCL7qVzVvC4Qc=,my library,Local playlist more,local-library,1,167497,458,陳信喆,堯十三,...,1,0,NaN,9,29494,2016.0,1,1,1,0
1004,KNsBZqBxrO53gvlyvtI1cMpdPMBauxFz/mRojRT9ykY=,opfHqJ0Oz4KsSqM5/TqBERkLI9DFnMD0Jywzh7XSE6Y=,my library,Local playlist more,local-library,1,266344,465,FS (Fuying & Sam),劉永輝,...,1,0,NaN,9,29494,NaN,1,1,1,1

### <font color =#000000>Save the trian and test to csv </font>

In [ ]:
#train.to_csv("after_train.csv") 
#test.to_csv("after_test.csv")

### <font color =#000000>Import </font>

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

### <font color =#000000>load dataset </font>

In [4]:
after_train = pd.read_csv('after_train.csv')
after_test = pd.read_csv('after_test.csv')

### <font color =#000000>Drop columns </font>

In [6]:
after_train = after_train.drop(after_train.columns[0], axis=1)
after_test = after_test.drop(after_test.columns[0], axis=1)

In [7]:
after_train[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,...,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count,composer_count,artist_count
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471,359,Bastille,Dan Smith| Mark Crew,...,1,0,NaN,7,50903,2016.0,1,0,2,0
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584,1259,Various Artists,no_composer,...,13,24,female,9,60386,1999.0,1,0,0,0
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,...,13,24,female,9,60386,2006.0,1,0,1,0
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512,1019,Soundway,Kwadwo Donkoh,...,13,24,female,9,60386,2010.0,1,0,1,0
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,...,1,0,NaN,7,50903,2016.0,1,0,3,0

In [8]:
after_test = after_test.drop(columns='id',axis=1)

In [9]:
after_test[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,...,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count,composer_count,artist_count
0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130,458,梁文音 (Rachel Liang),Qi Zheng Zhang,no_lyricist,...,1,0,NaN,7,10699,2014.0,1,0,1,0
1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,...,1,0,NaN,7,10699,2010.0,1,2,1,0
2,/uQAlrAkaczV+nWCd2sPF2ekvXPRipV7q0l+gbLuxjw=,8eZLFOdGVdXBSqoAv5nsLigeH2BvKXzTQYtUM53I0k4=,discover,NaN,song-based-playlist,315899,2022,Yu Takahashi (高橋優),Yu Takahashi,Yu Takahashi,...,1,0,NaN,4,7,2010.0,1,1,1,0
3,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,ztCf8thYsS4YN3GcIL/bvoxLm/T5mYBVKOO4C9NiVfQ=,radio,Radio,radio,285210,465,U2,The Edge| Adam Clayton| Larry Mullen| Jr.,no_lyricist,...,3,30,male,9,99705,2002.0,1,0,4,0
4,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,MKVMpslKcQhMaFEgcEQhEfi5+RZhMYlU3eRDpySrH8Y=,radio,Radio,radio,197590,873,Yoga Mr Sound,Neuromancer,no_lyricist,...,3,30,male,9,99705,2011.0,1,0,1,0

### <font color =#000000>Fillna 'NaN' </font>

In [10]:
after_train = after_train.fillna('NaN')
after_test = after_test.fillna('NaN')

### <font color =#000000>Encoded data(to number) </font>

In [11]:
from sklearn import preprocessing

def encoder(after_train):
    le = preprocessing.LabelEncoder()
    for column_name in after_train.columns:
            if after_train[column_name].dtype.name in ['category','object']:
                after_train[column_name] = le.fit_transform(after_train[column_name].astype(str))

In [12]:
encoder(after_train)
encoder(after_test)

In [13]:
after_train[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,...,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count,composer_count,artist_count
0,8158,74679,2,7,7,1,206471,285,3277,14581,...,1,0,0,7,50903,98,1,0,2,0
1,17259,223479,4,8,5,1,284584,90,31960,64881,...,13,24,1,9,60386,81,1,0,0,0
2,17259,120758,4,8,5,1,225396,90,21372,45057,...,13,24,1,9,60386,88,1,0,1,0
3,17259,23707,4,8,5,1,255512,6,27439,36700,...,13,24,1,9,60386,92,1,0,1,0
4,8158,33308,2,7,7,1,187802,2,4472,8485,...,1,0,0,7,50903,98,1,0,3,0

In [14]:
after_test[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,...,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count,composer_count,artist_count
0,12934,122191,4,8,4,224130,300,24890,33218,16305,...,1,0,0,7,10699,96,1,0,1,0
1,12934,217907,4,8,4,320470,306,24743,47678,18460,...,1,0,0,7,10699,92,1,2,1,0
2,712,37385,1,11,10,315899,158,21878,43194,15872,...,1,0,0,4,7,92,1,1,1,0
3,1383,224360,6,17,8,285210,306,20718,39607,16305,...,3,30,2,9,99705,84,1,0,4,0
4,1383,85597,6,17,8,197590,429,21761,30731,16305,...,3,30,2,9,99705,93,1,0,1,0

### <font color =#000000> after_train to X y</font>

In [15]:
X = after_train.drop(columns='target',axis=1)
y = after_train['target']

In [16]:
X[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,...,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count,composer_count,artist_count
0,8158,74679,2,7,7,206471,285,3277,14581,22888,...,1,0,0,7,50903,98,1,0,2,0
1,17259,223479,4,8,5,284584,90,31960,64881,22888,...,13,24,1,9,60386,81,1,0,0,0
2,17259,120758,4,8,5,225396,90,21372,45057,22888,...,13,24,1,9,60386,88,1,0,1,0
3,17259,23707,4,8,5,255512,6,27439,36700,22888,...,13,24,1,9,60386,92,1,0,1,0
4,8158,33308,2,7,7,187802,2,4472,8485,22888,...,1,0,0,7,50903,98,1,0,3,0

In [17]:
y[:5]

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

### <font color =#000000> train test split  </font>

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4,random_state=0)

In [19]:
X_train[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,...,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count,composer_count,artist_count
1815742,25565,324151,4,8,4,249312,337,125,48801,17063,...,1,0,0,7,69800,96,1,2,2,0
4051297,29512,235269,6,15,8,273995,344,15603,33555,11169,...,4,47,1,9,20613,84,1,2,2,0
4108856,15640,118335,7,12,7,242102,344,36606,48563,16983,...,13,23,1,9,40684,83,1,1,1,0
852021,21772,358169,2,11,7,216816,344,10925,21436,7001,...,12,28,2,9,69882,97,1,1,1,0
4066854,3094,8307,4,8,4,264288,337,34700,74068,32089,...,6,41,2,3,20302,98,1,1,1,0

In [20]:
X_test[:5]

,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,...,city,bd,gender,registered_via,membership_days,song_year,genre_id_count,lyricists_count,composer_count,artist_count
4536199,759,136911,4,8,4,233116,344,40204,64881,22888,...,15,27,2,9,100594,84,1,0,0,0
2588100,14128,190534,1,3,7,189846,337,39657,56445,22888,...,15,25,1,9,50496,98,1,0,1,0
1650329,10552,213352,4,0,1,287137,344,38605,65950,23845,...,4,37,1,3,59907,100,1,1,1,0
2732406,26078,214959,1,0,1,192783,399,39008,73311,29033,...,1,0,0,7,39971,98,1,1,1,0
613088,27152,15820,4,8,5,221309,323,17451,64881,22888,...,13,24,1,3,39900,94,1,0,0,0

In [21]:
len(X_train)

4426450

In [22]:
len(X_test)

2950968

### <font color =#000000>Random select 500000 to train </font>

In [184]:
import random
ram = random.sample(range(0,len(X_train)), 500000)
X_train_sampled = X_train.iloc[ram]
y_train_sampled = y_train.iloc[ram]

### <font color =#000000>LogisticRegression </font>

In [185]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train_sampled,y_train_sampled)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

### <font color =#000000>LogisticRegression Result </font>

In [186]:
print(lr.score(X_train_sampled,y_train_sampled))
print(lr.score(X_train,y_train))
print(lr.score(X_test,y_test))

0.598108
0.598264297574806
0.5979210889443735

### <font color =#000000>Predict after_test and save result to csv </font>

In [151]:
a=lr.predict(after_test)

In [152]:
type(a)

numpy.ndarray

In [153]:
result = np.array(a)

In [154]:
series = pd.Series(result)

In [155]:
series.to_csv('sub_log(ran)2')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

### <font color =#000000>Random select 800000 to train </font>

In [20]:
import random

ram = random.sample(range(0,len(X_train)), 800000)
X_train_sampled = X_train.iloc[ram]
y_train_sampled = y_train.iloc[ram]

### <font color =#000000>RandomForest </font>

In [188]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100, oob_score=False, 
                            random_state=1,n_jobs=-1)
rf.fit(X_train_sampled, y_train_sampled)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

### <font color =#000000>RandomForest Result </font>

In [189]:
print(rf.score(X_train_sampled,y_train_sampled))
print(rf.score(X_train,y_train))
print(rf.score(X_test,y_test))

0.99999875
0.7177923618249388
0.6547695535837732

### <font color =#000000>Predict after_test and save result to csv</font>

In [190]:
a3=rf.predict(after_test)

In [191]:
result3 = np.array(a3)

In [192]:
series3 = pd.Series(result3)

In [193]:
series3.to_csv('sub_rf(ran)5')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.